/bin/
/logs/
/.settings/
/.gradle/
/resources/
/build/
/banco_de_dados/
config.json

src/main/java/me/skiincraft/discord/ousu/utils/Token.java
src/main/java/me/skiincraft/discord/ousu/Test.java
emotes.json
